@keyframes fadeIn{
    from{opacity: 0; transform: translateX(100%);}
    to{opacity:1; transform: translateY(0px);}
}

body{
    margin: 0px;
    padding: 0px;
}

header{
    position:fixed;
    left: 0px;
    right: 0px;
    background: white;
    box-shadow: 0px 0px 10px;
    top: 0px;
}
nav {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}
/*
.header-title{
}
.header-buttons{
}*/
#menu-button{
    display: none;
}
.nav-button{
    background-color: white;
    color: black;
    font-weight: bold;
    display: inline-flex;
    padding: 25px;
    text-decoration: none;
}
.nav-button:hover{
    transition: border-bottom 0.1s;
    transition: background-color 0.1s;
    background-color: pink;
    border-bottom: magenta solid;
}
.nav-button:active{
    background-color: white;
}

body{
    font-family: 'Ubuntu', sans-serif;
}
.content{
    padding: 75px 25px;
    animation: fadeIn 1s;
}
.content-title{
    font-size: 15vw;
}
.art-content {
    display: flex;
    flex-wrap: wrap;
}
.art-item{
    height: 1%;
}

footer{
    display: flex;
    justify-content: space-between;
    background: white;
    position: fixed;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px;
    bottom: 0px;
}
footer p{
    margin: auto 25px;
}

/* extra stuff */

.centered{
    justify-content: center;
    text-align: center;
}

.inline{
    display: flex;
    justify-content: space-between;
}

.button{
    padding: 2% 4%;
}

#maintenance-center{
    justify-content: center;
    text-align: left;
}
#maintenance-guy{
    transform: scaleX(1);
}
#maintenance-guy:hover{
    transform: scaleX(-1);
}

@media (max-width: 810px){
    .inline{ flex-direction: column;}
    .remove{display:none;}
    .header-title{text-align: center;}
    nav{
        flex-direction: column;
    }
    #menu-button{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav-button{
        padding: 5px auto;
        display: block;
        text-align: center;
    }
}