@keyframes fadeIn{
    from{opacity: 0; transform: translateX(100%);}
    to{opacity:1; transform: translateY(0px);}
}

:root {
    --background-color: white;
    --text-color: black;

    --button-hover-color: pink;
    --button-hover-border-color: magenta;
    --button-hover-text-color: black;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0px;
    padding: 0px;
}
#thirdym-site{
    color: var(--background-color);
}

header{
    position:fixed;
    left: 0px;
    right: 0px;
    background: var(--background-color);
    box-shadow: 0px 0px 10px;
    top: 0px;
}
nav {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.header-title{
    color: var(--text-color);
}
/* .header-buttons{
} */
#menu-button{
    display: none;
}
.nav-button{
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: bold;
    display: inline-flex;
    padding: 25px;
    text-decoration: none;
}
.nav-button:hover{
    transition: border-bottom 0.1s;
    transition: background-color 0.1s;
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
    border-bottom: var(--button-hover-border-color) solid;
}
.nav-button:active{
    background-color: white;
}

body{
    font-family: 'Ubuntu', sans-serif;
}
.content{
    padding: 75px 25px;
    animation: fadeIn 1s;
}
.content-title{
    font-size: 15vw;
}
.art-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.art-item{
    transition: box-shadow .1s;
    transition: max-width .1s;
    object-fit: contain;
    max-width: 20vw;
}
.art-item:hover{
    box-shadow: 0px 10px 10px black;
    max-width: 30%;
}
.text-url{
    text-decoration: none;
    transition: color .1s;
    transition: background-color .1s;
    transition: border-radius .1s;
    transition: padding .1s;
    color:black;
    background-color: pink;
    border-radius: 2px;
    padding: 2px;
}
.text-url:hover{
    color: pink;
    background: black;
    padding: 2px 4px;
    border-radius: 4px;
}

footer{
    display: flex;
    justify-content: space-between;
    background: var(--background-color);
    position: fixed;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px;
    bottom: 0px;
}
footer p{
    margin: auto 25px;
}

/* extra stuff */

.centered{
    justify-content: center;
    text-align: center;
}

.inline{
    display: flex;
    justify-content: space-between;
}

.button{
    padding: 2% 4%;
}

#changelog{
    text-align: left;
    margin: 0px 5%;
}
#maintenance-center{
    justify-content: center;
    text-align: left;
}
#maintenance-guy{
    transform: scaleX(1);
}
#maintenance-guy:hover{
    transform: scaleX(-1);
}

@media (max-width: 810px){
    .inline{ flex-direction: column;}
    .remove{display:none;}
    .header-title{text-align: center;}
    .art-item{max-width: 75%;}
    .art-item:hover{max-width: 100%;}
    nav{
        flex-direction: column;
    }
    #menu-button{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav-button{
        padding: 5px auto;
        display: block;
        text-align: center;
    }
}

@media (prefers-color-scheme: dark){
    :root {
        --background-color: rgb(31, 31, 31);
        --text-color: white;

        --button-hover-color: rgb(59, 59, 59);
        --button-hover-border-color: rgb(161, 161, 161);
        --button-hover-text-color: rgb(255, 255, 255);
    }
}