@keyframes fadeIn{
    from{opacity: 0; transform: translateX(100%);}
    to{opacity:1; transform: translateY(0px);}
}

header{
    position:fixed;
    left: 0px;
    right: 0px;
    background: white;
    box-shadow: 0px 0px 10px;
    top: 0px;
}
nav {
    display: inline-flex;
    width: 100%;
}
.header-title{
    float: left;
    padding: 0px 25px;
}
.header-buttons{
}
.nav-button{
    background-color: white;
    color: black;
    font-weight: bold;
    display: inline-flex;
    padding: 25px;
    text-decoration: none;
}
.nav-button:hover{
    transition: border-bottom 0.1s;
    transition: background-color 0.1s;
    background-color: pink;
    border-bottom: magenta solid;
}
.nav-button:active{

}

body{
    font-family: 'Ubuntu', sans-serif;
}
.content{
    padding: 75px 25px;
    animation: fadeIn 1s;
}
.content-title{
    font-size: 15vh;
}
.art-content {
    display: flex;
    flex-wrap: wrap;
}
.art-item{
    height: 1%;
}

footer{
    background: white;
    position: fixed;
    padding: 0px 25px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px;
    bottom: 0px;
}

/* extra stuff */

.centered{
    justify-content: center;
    text-align: center;
}

.button{
    background-color: white;
    padding: 2% 4%;
}
.button:hover{
    transition: background-color 0.1s;
    transition: border-bottom 0.1s;
    border-bottom: magenta solid 2px;
    background-color: pink;
}

#maintenance-center{
    justify-content: center;
    text-align: left;
}
#maintenance-guy{
    transform: scaleX(1);
}
#maintenance-guy:hover{
    transform: scaleX(-1);
}